

header {
    background-color: rgba(00, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    
}

header h1 {
    color: #00fff7; 
    
    font-style: italic;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
    color: #00fff7;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px; 
    border-radius: 10px; 
    transition: background-color 0.3s, color 0.3s; 
}
nav a:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón */
    color: #00fff7; /* Cambia el color del texto al pasar el ratón */
}


#contact {
    text-align: center;
    padding: 20px;
}

#contact form {
    max-width: 400px;
    margin: 0 auto;
}

#contact label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact button {
    background-color: #007BFF; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

body{
    background-image: url(./ImagenesInicio/fondo_historia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}