

header {
    background-color: rgba(00, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    
}

header h1 {
    color:rgb(98, 225, 237);
    
   
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
    color: #00fff7;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px; 
    border-radius: 10px; 
    transition: background-color 0.3s, color 0.3s; 
}
nav a:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón */
    color: #00fff7; /* Cambia el color del texto al pasar el ratón */
}

main {
    padding: 20px;
}

#welcome {
    text-align: center;
    font-family: 'Tangerie', sans-serif;
}

footer {
    background-color: rgba(00, 0, 0, 0.6);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    flex: content;
}

footer p {
    color: #fff;
}

body{
    background-image: url(./ImagenesInicio/Principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 20px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }

    nav li {
        margin-right: 10px;
    }

    nav a {
        padding: 8px 12px;
    }
}